.table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow-y: visible
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

th {
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: 600;
  color: rgb(4, 7, 49);
}

tbody tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.page-center {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1rem;
}

.page-right {
  min-width: 120px; 
  display: flex;
  justify-content: flex-end;
}

.pagination span {
  font-size: 0.9rem;
}

.pagination button,
.pagination select {
  background: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.6rem;
}

.pagination select {
  font-size: 1rem;

}

.pagination select:focus {
  outline: none;
  border: none;
  box-shadow: none; 
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.clickable-row {
  transition: background 0.2s ease;
}

.clickable-row:hover {
  background-color: rgba(255, 165, 0, 0.2);
}

