.calendar-box {
  position: absolute;
  top: 50px;
  left: 0;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 8px 24px var(--shadow-light);
  padding: 12px;
  overflow: visible;
  min-width: 360px;
  color: var(--text-dark);
  z-index: 9999999;
}


.rdrCalendarWrapper {
  border-radius: 12px;
  overflow: hidden;
  background: var(--white);
  color: var(--text-dark);
  transition: background 0.3s ease, color 0.3s ease;
}


.rdrDefinedRangesWrapper {
  display: none !important;
}


.rdrDateDisplayWrapper {
  background: var(--bg-light);
  border-radius: 8px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
}

.rdrDateDisplayItem input {
  background: rgba(255, 255, 255, 0.6);
  color: var(--text-dark);
  border: none;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 0.75rem;
  text-align: center;
  transition: all 0.3s ease;
}

body:not(.dark) .rdrDateDisplayItem input {
  background: rgba(255, 255, 255, 0.6);
  color: #222;
}


body.dark .rdrDateDisplayItem input {
  background: rgba(50, 55, 65, 0.6);
  color: #f2f2f2;
}

.rdrMonthAndYearWrapper {
  
  color: var(--text-dark);
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.rdrMonth{
  background: var(--c-back);

}


.rdrMonthAndYearPickers select {
  background: transparent;
  color: var(--text-dark);
  border: none;
  font-weight: 600;
  cursor: pointer;
}

body.dark .rdrMonthAndYearPickers select {
  color: #f2f2f2;
}

.rdrDayNumber span {
  color: var(--text-dark) !important;
  transition: color 0.3s ease;
}


.rdrDayPassive span,
.rdrDayDisabled span {
  color: rgba(150, 150, 150, 0.45) !important;
}

body.dark .rdrDayDisabled {
  background: rgba(255, 255, 255, 0.04);
}

body:not(.dark) .rdrDayDisabled {
  background: rgba(0, 0, 0, 0.03);
}


.rdrDay:hover span {
  color: var(--primary) !important;
  font-weight: 600;
}

.rdrDayNumber span[style*="color: rgb(255, 255, 255)"] {
  color: #fff !important;
}


.calendar-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}

.close-btn {
  background: transparent;
  color: var(--text-dark);
  font-size: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.close-btn:hover {
  transform: scale(1.05);
  color: var(--primary);
}
