.filter-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.3rem;

  background: var(--card-dark);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  backdrop-filter: blur(12px);

  color: var(--text-dark);
  width: 100%;
}

.vendor-box {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  min-width: 140px;

  background: var(--card-light);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.vendor-box legend {
  font-size: 0.75rem;
  opacity: 0.65;
}

.vendor-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.vendor-options input[type="radio"] {
  accent-color: var(--primary) !important;  
}

.search-pop-wrap {
  margin-left: auto; 
  position: relative;
  display: flex;
  align-items: center;
}


.main-search-icon {
  font-size: 1.5rem;
  transition: 0.2s;
}

.main-search-icon.enabled {
  color: var(--primary);
  cursor: pointer;
  opacity: 0.9;
}

.main-search-icon.enabled:hover {
  opacity: 1;
}

.main-search-icon.disabled {
  color: rgba(150,150,150,0.45);
  cursor: not-allowed;
  opacity: 0.45;
}

.advanced-pop {
  position: absolute;
  top: 50%;
  right: -11px; 
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 0.8rem;

  padding: 0.7rem 1rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);

  z-index: 999990; 
}

.date-box {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.35rem 0.6rem;

  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.15);

  height: 45px;
  cursor: pointer;
}

.date-box svg {
  color: var(--primary);
}

.date-box input {
  background: transparent;
  border: none;
  width: 170px;
  font-size: 0.9rem;
}


.calendar-portal-wrap {
  position: absolute;
  z-index: 999999999 !important; 
}


.lot-search-input {
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.25);
  padding: 0 0.7rem;
  font-size: 0.9rem;
  background: rgba(255,255,255,0.95);
  color: var(--text-dark);
  min-width: 350px;
}

.search-btn {

  margin-top: 8px;
  border-radius: 10px;
  border: none;
  background: transparent;
  color:var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
}
.search-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.css-b62m3t-container {
  min-width: 170px; 
}

.css-13cymwt-control {
  background-color: rgba(173,216,230,0.15) !important;
  border-color: rgba(173,216,230,0.3) !important;

  height: 40px !important;
  min-height: 40px !important;

  border-radius: 12px !important;
  font-size: 0.9rem !important;
  padding: 0 6px !important;

  backdrop-filter: blur(8px) !important;
  box-shadow: none !important;
}

.css-d7l1ni-option,
.css-1nmdiq5-menu div {
  font-size: 0.9rem !important;
  padding: 10px 12px !important;
}


@media (max-width: 1300px) {
  .filter-line {
    flex-wrap: wrap;
  }
}
