#sidebar {
  width: 70px;
  flex-shrink: 0;
  background: var(--bg-light);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  margin: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 32px var(--shadow-light);
  transition: width 0.3s ease;
}

#sidebar.expanded {
  width: 180px;
}

#sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

#sidebar.expanded ul {
  align-items: flex-start;
  padding-left: 20px;
}

#sidebar ul li a {
  display: flex;
  align-items: center;
  color: var(--text-dark);
  font-size: 20px;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  padding: 0 10px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}

#sidebar ul li a i {
  min-width: 24px;
  text-align: center;
}

#sidebar ul li a span {
  margin-left: 15px;
  display: none;
  font-weight: 500;
  font-size: 14px;
}

#sidebar.expanded ul li a span {
  display: inline;
}

#sidebar ul li a:hover svg {
  color: var(--primary);
}

#sidebar ul li a.active svg {
  color: #fff;
  background: var(--primary);
  padding: 4px;
  width: 28px;
  height: 28px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  position: relative;
  z-index: 1;
}

#sidebar-toggle {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 40px;
  cursor: pointer;
}

#sidebar .switch-mode {
  position: absolute;
  bottom: 20px;
  left: 16px;          
  display: inline-block;
  width: 40px;
  height: 20px;
  background:var(--b-back);
  border-radius: 20px;
  cursor: pointer;
}

#sidebar .switch-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

#sidebar .switch-mode .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: var(--primary); 
  border-radius: 50%;
  transition: 0.3s;
}


#sidebar .switch-mode input:checked + .slider {
  transform: translateX(20px);
}
